

.line-3 {
    height: 5px;
    width: 20%;
    background: #0a0b18;
    margin-bottom: 20px;
  }

  .btnFondoColor{
    background-color: #d7daf5;
  }



  .fuenteFormulario {
    font-size: 1.5rem;
  }